@-webkit-viewport {
	width: device-width;
}
@-moz-viewport {
	width: device-width;
}
@-ms-viewport {
	width: device-width;
}
@-o-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}
/* ====== COMMON STYLES ====== */
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
body {
	background: #2a2a2a;
	margin: 0px;
	font-family: 'Open Sans', Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
}
body {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
}
form {
	border: 0px;
	margin: 0px;
	padding: 0px;
}
textarea {
	resize: vertical;
}
textarea, input {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	outline: none;
}
img {
	max-width: 100%;
}
a img {
	border: 0;
}
table {
	width: 100%;
	border-collapse: collapse;
}
td {
	border: 1px solid #a8a8a8;
	padding: 2px 5px;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}
h1 {
	font-size: 40px;
	text-align: center;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 25px;
}
h5 {
	font-size: 20px;
}
h6 {
	font-size: 15px;
}
.floatleft {
	float: left;
}
.floatright {
	float: right;
}
.clear {
	clear: both;
}
.background {
	background: #2F4E81 url('../images/blueprint.png') center top fixed repeat;
}
.maxwidth {
	width: 900px;
	margin: 0px auto;
	-webkit-transition: width 0.2s ease 0s;
	-moz-transition: width 0.2s ease 0s;
	-o-transition: width 0.2s ease 0s;
	-ms-transition: width 0.2s ease 0s;
	transition: width 0.2s ease 0s;
}
.page-wrapper {
	padding-bottom: 50px;
}
.whitepage {
	background: #f4f4f4;
	padding: 15px;
}
.page-sidebar {
	width: 300px;
	float: right;
}
.page-content {
	width: 550px;
	float: left;
}
.sidebar-links p {
	margin: 0px;
}
.side-link {
    display: inline-block;
    padding: 3px 6px;
    background: #1189bd;
    color: #fff;
    margin: 2px 0px;
    font-size: 15px;
    text-decoration: none;
	-webkit-transition: background-color 0.2s ease 0s;
	-moz-transition: background-color 0.2s ease 0s;
	-o-transition: background-color 0.2s ease 0s;
	-ms-transition: background-color 0.2s ease 0s;
	transition: background-color 0.2s ease 0s;
}
.side-link:hover {
    background-color: #00AAFF;
}
.sidebar-block {
	background: #FFF;
	margin-bottom: 30px;
}
.sidebar-title {
	background: #1189bd;
	color: #FFF;
	padding: 5px 15px;
}
.sidebar-title h6 {
	font-size: 24px;
	font-weight: normal;
}
.sidebar-content {
	padding: 15px;
}
.textblock {
	max-width: 600px;
	margin: 0px auto;
	text-align: center;
}
.center {
	text-align: center;
}
.section-header {
	padding-bottom: 30px;
}
.section-header p {
	margin-top: 5px;
}
.section-title {
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
}
button, .button {
	padding: 0px;
	color: #454545;
    background: transparent;
	border: 3px solid #00AAFF;
	margin: 0px auto;
	line-height: 37px;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	display: block;
	-webkit-transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
	-moz-transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
	-o-transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
	-ms-transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
	transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
	text-decoration: none;
}
button:hover, .button:hover {
	background-color: #1189bd;
	color: #FFF;
}
/* ====== PLACEHOLDER ====== */
.input-wrapper, .textarea-wrapper {
	background: #FFF;
	position: relative;
	border: 2px solid transparent;
	padding: 5px 10px;
	-webkit-transition: border-color 0.3s ease 0s;
	-moz-transition: border-color 0.3s ease 0s;
	-o-transition: border-color 0.3s ease 0s;
	-ms-transition: border-color 0.3s ease 0s;
	transition: border-color 0.3s ease 0s;
}
.input-placeholder, .textarea-placeholder {
	top: 5px;
	left: 10px;
	right: 10px;
	bottom: 5px;
	z-index: 1;
	font-size: 22px;
	line-height: 26px;
	color: #6e6e6e;
	-webkit-transition: color 0.3s ease 0s;
	-moz-transition: color 0.3s ease 0s;
	-o-transition: color 0.3s ease 0s;
	-ms-transition: color 0.3s ease 0s;
	transition: color 0.3s ease 0s;
}
.input-wrapper input {
	font-size: 22px;
	height: 26px;
	line-height: 26px;
}
.input-wrapper input, .textarea-wrapper textarea {
	background: #FFF;
	position: relative;
	z-index: 2;
	margin: 0px;
	padding: 0px;
	border: 0px;
	width: 100%;
	-webkit-transition: background-color 0.3s ease 0s;
	-moz-transition: background-color 0.3s ease 0s;
	-o-transition: background-color 0.3s ease 0s;
	-ms-transition: background-color 0.3s ease 0s;
	transition: background-color 0.3s ease 0s;
}
.input-empty input, .textarea-empty textarea {
	background: transparent;
}
.input-focus .input-placeholder, .textarea-focus .textarea-placeholder {
	color: #CCC;
}
.input-focus, .textarea-focus {
	border-color: #00aaff;
}
/* ====== HEADER ====== */
#header.header {
	position: absolute;
	width: 100%;
	top: 148px;
	left: 0px;
	right: 0px;
	z-index: 100;
	-webkit-transition: background-color 0.3s ease 0s;
	-moz-transition: background-color 0.3s ease 0s;
	-o-transition: background-color 0.3s ease 0s;
	-ms-transition: background-color 0.3s ease 0s;
	transition: background-color 0.3s ease 0s
}
#header .header-menu {
	height: 53px;
	margin: 0px auto;
}
#header .header-menu-button {
	border-top: 3px solid #FFF;
	border-bottom: 3px solid #FFF;
	color: #FFF;
	height: 47px;
	line-height: 47px;
	cursor: pointer;
	font-size: 19px;
	width: 100px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: border-color 0.3s ease 0s;
	-moz-transition: border-color 0.3s ease 0s;
	-o-transition: border-color 0.3s ease 0s;
	-ms-transition: border-color 0.3s ease 0s;
	transition: border-color 0.3s ease 0s;
}
#header .header-menu-button:hover {
	border-color: #00AAFF;
}
#header .logo-link {
	text-decoration: none;
	display: block;
	margin-left: -104px;
	left: 50%;
	width: 208px;
	position: absolute;
	top: -78px;
	-webkit-transition: top 0.3s ease 0s, width 0.3s ease 0s, margin-left 0.3s ease 0s;
	-moz-transition: top 0.3s ease 0s, width 0.3s ease 0s, margin-left 0.3s ease 0s;
	-o-transition: top 0.3s ease 0s, width 0.3s ease 0s, margin-left 0.3s ease 0s;
	-ms-transition: top 0.3s ease 0s, width 0.3s ease 0s, margin-left 0.3s ease 0s;
	transition: top 0.3s ease 0s, width 0.3s ease 0s, margin-left 0.3s ease 0s;
}
#header .logo-link img {
	width: 208px;
	vertical-align: top;
	-webkit-transition: width 0.3s ease 0s;
	-moz-transition: width 0.3s ease 0s;
	-o-transition: width 0.3s ease 0s;
	-ms-transition: width 0.3s ease 0s;
	transition: width 0.3s ease 0s;
}
#header.header-fixed {
	position: fixed;
	top: 0px;
	background: #1189bd;
}
#header.header-fixed .header-menu-button {
	border-color: transparent;
}
#header.header-fixed .header-menu-button:hover {
	background: #0e729c;
}
#header.header-fixed .logo-link {
	margin-left: -20px;
	width: 41px;
	top: 3px;
}
#header.header-fixed .logo-link img {
	width: 46px;
}
#top {
	height: 350px;
}
/* ====== MARKDOWN SECTION ====== */
.section_markdown {
    background: #f4f4f4;
	padding: 50px 0px;
	color: #4a4a4a;
    text-align: center;
}
#section_info {
    background: #E3E7ED;
}
/* ====== MESSAGE SECTION ====== */
.section_message {
    padding: 50px 0px;
    background: transparent;
	text-align: center;
}
.section_message h1 {
	margin: 0px auto;
	color: #FFF;
	font-size: 40px;
	line-height: 50px;
}
.section_message .message-text {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	-webkit-transition: opacity .3s, max-height .3s, padding .3s;
	-moz-transition: opacity .3s, max-height .3s, padding .3s;
	-o-transition: opacity .3s, max-height .3s, padding .3s;
	-ms-transition: opacity .3s, max-height .3s, padding .3s;
	transition: opacity .3s, max-height .3s, padding .3s;
	font-size: 18px;
	text-align: justify;
	color: #FFF;
	line-height: 20px;
	padding: 0px;
}
.section_message .message-visible {
	max-height: 9999px;
	opacity: 1;
	padding-top: 30px;
}
.section_message button {
	margin-top: 28px;
	background: transparent;
	border: 3px solid #00AAFF;
	line-height: 37px;
	width: 141px;
	font-weight: bold;
	font-size: 16px;
	color: #FFF;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-transition: background-color 0.3s ease 0s;
	-moz-transition: background-color 0.3s ease 0s;
	-o-transition: background-color 0.3s ease 0s;
	-ms-transition: background-color 0.3s ease 0s;
	transition: background-color 0.3s ease 0s;
}
.section_message button:hover {
	background-color: #1189bd;
}
#section_idea {
	padding-top: 0px;
}
/* ====== SHOWCASE SECTION ====== */
.section_showcase {
	background: #f4f4f4;
	padding: 50px 0px;
	color: #4a4a4a;
    text-align: center;
}
.section_showcase .showcase-link {
	color: #4a4a4a;
}
.section_showcase .section-header p {
	color: #A8A8A8;
}
.section_showcase .showcase-figure {
    vertical-align: top;
	width: 250px;
	padding: 0px 25px 25px;
	display: inline-block;
	margin: 0px;
	text-align: center;
}
.section_showcase .showcase-middle {
	vertical-align: middle;
}
.section_showcase .showcase-link {
	vertical-align: top;
	text-decoration: none;
	cursor: pointer;
	display: block;
	text-align: center;
}
.section_showcase .showcase-image {
	position: relative;
	width: 200px;
	margin: 0px auto 20px;
}
.section_showcase .showcase-nodecor .showcase-image {
	width: auto;
}
.section_showcase .showcase-gear {
	width: 200px;
	height: 200px;
	background: url('../images/gear.png');
	position: absolute;
	-webkit-transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
	-moz-transition: transform 0.3s ease 0s, -moz-transform 0.3s ease 0s;
	-o-transition: transform 0.3s ease 0s, -o-transform 0.3s ease 0s;
	-ms-transition: transform 0.3s ease 0s, -ms-transform 0.3s ease 0s;
	transition: transform 0.3s ease 0s;
}
.section_showcase .showcase-image img {
	margin: 44px;
	width: 112px;
	height: 112px;
}
.section_showcase .showcase-nodecor .showcase-image img {
	margin: 0px;
	width: auto;
	height: auto;
	max-width: 250px;
	max-height: 150px;
}
.section_showcase .showcase-title {
	font-size: 22px;
	display: inline-block;
	padding-bottom: 6px;
	-webkit-transition: color 0.3s ease 0s;
	-moz-transition: color 0.3s ease 0s;
	-o-transition: color 0.3s ease 0s;
	-ms-transition: color 0.3s ease 0s;
	transition: color 0.3s ease 0s;
}
.section_showcase .showcase-link:hover .showcase-title {
	color: #00aaff;
}
.section_showcase .showcase-link:hover .showcase-gear {
	-webkit-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	transform: rotate(15deg);
}
.section_showcase .showcase-description {
	font-size: 14px;
	margin-top: 12px;
}
.section_showcase .showcase-hr {
	height: 3px;
	width: 60%;
	background: #00aaff;
	margin: 0px auto;
}
/* ====== COURSES SECTION ====== */
#section_courses {
	background: #2f4e81;
    border-top: 1px solid #123456;
    border-bottom: 1px solid #123456;
	padding: 50px 0px 50px;
	color: #fafafa;
}
#section_courses .showcase-link {
	color: #fafafa;
}
#section_courses .section-header p {
	color: #CCC;
}
/* ====== MAP SECTION ====== */
.section_script {
    background: #e0e0e0 url('../images/loader.gif') center center no-repeat;
}
#section_map {
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
}
/* ====== NEWS SECTION ====== */
.section_news {
	background: #f4f4f4;
	padding: 50px 0px 50px;
	color: #404040;
}
.section_news .section-header p {
	color: #A8A8A8;
}
.section_news .news-article {
	width: 280px;
	margin: 0px 9px 25px;
	float: left;
	color: #454545;
	border: 1px solid #aaa8a8;
	background: #fafafa;
}
.section_news .news-link {
    display: block;
    text-decoration: none;
}
.section_news .news-image-wrapper {
    overflow: hidden;
}
.section_news .news-image {
    width: 100%;
    vertical-align: top;
    -webkit-transition: transform 0.3s ease 0s;
	-moz-transition: transform 0.3s ease 0s;
	-o-transition: transform 0.3s ease 0s;
	-ms-transition: transform 0.3s ease 0s;
	transition: transform 0.3s ease 0s;
}
.section_news .news-date {
    float: left;
    background: #A8A8A8;
    color: #FFF;
    width: 70px;
    height: 70px;
    text-align: center;
}
.section_news .news-date-day {
    font-size: 32px;
    line-height: 32px;
    padding-top: 8px;
}
.section_news .news-date-month {
    text-transform: uppercase;
}
.section_news .news-title {
    line-height: 20px;
    font-size: 18px;
    height: 60px;
    overflow: hidden;
    margin-left: 70px;
    padding: 5px 10px;
    color: #4a4a4a;
    -webkit-transition: color 0.3s ease 0s;
	-moz-transition: color 0.3s ease 0s;
	-o-transition: color 0.3s ease 0s;
	-ms-transition: color 0.3s ease 0s;
	transition: color 0.3s ease 0s;
}
.section_news .news-link:hover .news-title {
    color: #00aaff;
}
.section_news .news-link:hover .news-image {
    transform: scale(1.1);
}
.section_news .news-button {
	width: 280px;
	margin-top: 10px;
}
/* ====== FEEDBACK SECTION ====== */
#section_feedback {
	padding: 50px 0px 50px;
}
#section_feedback .section-title {
	color: #FFF;
}
#section_feedback .modular-section-header p {
	margin-top: 5px;
	color: #d6d6d6;
}
#section_feedback textarea {
	min-height: 180px;
}
#section_feedback .input-wrapper {
	margin-bottom: 22px;
	width: 415px;
}
#section_feedback .input-wrapper input {
	font-size: 22px;
}
#section_feedback .textarea-wrapper textarea, #section_feedback .textarea-placeholder {
	font-size: 18px;
}
#section_feedback button {
	margin-top: 28px;
	background: transparent;
	border: 3px solid #00AAFF;
	line-height: 37px;
	font-weight: bold;
	padding: 0px 10px;
	font-size: 16px;
	color: #FFF;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-transition: background-color 0.3s ease 0s;
	-moz-transition: background-color 0.3s ease 0s;
	-o-transition: background-color 0.3s ease 0s;
	-ms-transition: background-color 0.3s ease 0s;
	transition: background-color 0.3s ease 0s;
}
#section_feedback button:hover {
	background-color: #1189bd;
}
/* ====== FOOTER ====== */
#footer .footer-top {
	padding: 15px 0px;
	background: #404040;
}
#footer .footer-info, #footer .footer-social {
	width: 300px;
	color: #FFF;
}
#footer .footer-info {
	float: left;
}
#footer .footer-social {
	float: right;
}
#footer a:link, #footer a:active, #footer a:visited {
	color: #FFF;
	text-decoration: none;
	-webkit-transition: color 0.2s ease 0s;
	-moz-transition: color 0.2s ease 0s;
	-o-transition: color 0.2s ease 0s;
	-ms-transition: color 0.2s ease 0s;
	transition: color 0.2s ease 0s;
}
#footer a:hover {
	color: #5ecbff;
}
#footer .footer-info .footer-title {
	font-size: 24px;
	margin-bottom: 10px;
}
#footer .footer-info div {
	height: 32px;
	font-size: 16px;
	line-height: 32px;
	margin-bottom: 10px;
	padding-left: 40px;
}
#footer .footer-info .footer-email {
	background: url('../images/email.png') left center no-repeat;
}
#footer .footer-info .footer-phone {
	background: url('../images/phone.png') left center no-repeat;
}
#footer .footer-info .footer-address {
	background: url('../images/address.png') 6px center no-repeat;
}
#footer .footer-bottom {
	height: 40px;
	line-height: 40px;	
	background: #2a2a2a;
	color: #FFF;
}
#footer .footer-copyright {
	float: left;
}
#footer .footer-developers {
	float: right;
}
/* ====== CATALOGUE ====== */
.page-content {
	
}
.page-sidebar {
	
}
/* ====== MEDIA QUERIES ====== */
@media only all and (max-width: 930px) {
	.whitepage-wrapper {
		padding-bottom: 15px;
	}
	.maxwidth {
		width: 600px;
	}
	#header.header {
		top: 0px;
		background: #1189bd;
		position: fixed;
	}
	#header .header-menu {
		height: 42px;
	}
	#header .header-menu-button {
		border: 0px;
		height: 42px;
		line-height: 42px;
		font-size: 17px;
		width: 100px;
	}
	#header .header-menu-button:hover {
		background: #0e729c;
	}
	#header .logo-link {
		display: none;
	}
	#top {
		height: 42px;
	}
	.page-home #top {
		height: 350px;
		background: url('../images/logo.png') center 90% no-repeat;
	}
	.notmodular #top {
		background: transparent none;
		height: 57px;
	}
	.page-sidebar, .page-content {
		width: auto;
		float: none;
	}
	.section_news .news-article-last {
		display: none;
	}
	#section_feedback .input-wrapper {
		width: auto;
		float: none;
	}
}
@media only all and (max-width: 630px) {
	.maxwidth {
		width: 300px;
	}
	#top {
		background-position: center bottom;
	}
	.notmodular #top {
		height: 99px;
	}
	.section_message h1 {
		font-size: 20px;
		padding-top: 18px;
		line-height: 30px;
	}
	.section_message .message-text {
		padding-left: 10px;
		padding-right: 10px;
	}
	#footer .footer-bottom .maxwidth div {
		float: none;
		text-align: center;
	}
}
@media only all and (min-width: 1230px) {
	.maxwidth {
		width: 1200px;
	}
	#header .header-menu-button {
		width: 150px;
	}
	.section_showcase .showcase-figure {
		padding: 0px 75px 25px;
	}
	.section_news .news-article {
		width: 360px;
		margin: 0px 17px 25px;
	}
	#section_news .news-button {
		width: 360px;
	}
	#section_feedback textarea {
		min-height: 210px;
	}
	#section_feedback .input-wrapper {
		width: 564px;
	}
	.page-content {
		width: 850px;
	}
}








.social-button {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 15px 5px 15px 0px;
	background: url('../images/social-icons.png') 0px 0px no-repeat;
}

.social-vk {
	background-position: -40px 0px;
}
.social-youtube {
	background-position: -240px 0px;
}
.social-instagram {
	background-position: -40px -80px;
}
