{% extends 'modular/modular-block.html.twig' %}

{% block content %}
<div class="textblock modular-section-header">
<h3 class="section-title">{{ page.title }}</h3>
{{ page.content }}
</div>

<div style="height: 400px;"></div>
{% endblock %}