<section class="modular-section" id="section{{ page.slug }}" style="height: 350px; background: #e0e0e0 url('{{ url('theme://images/loader.gif') }}') center center no-repeat;">
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=JpsNTckbNdKK6feMtsRUp6WD4IWV0QQr&amp;width=100%&amp;height=350&amp;lang={{ (grav.language.getLanguage ?: grav.language.getDefault) == "ru" ? "ru_RU" : "en_US" }}&amp;sourceType=constructor&amp;scroll=false"></script>
</section>
