<section class="modular-section" id="section{{ page.slug }}">
	<div class="maxwidth">
		<div class="modular-wrapper wrapper{{ page.slug }}">
			{% block content %}{% endblock %}
		</div>
	</div>
</section>
