<section class="modular-section section_{{ page.template|split('/')|last }}" id="section{{ page.slug }}">
	<div class="maxwidth">
		<div class="modular-wrapper">
			{% block content %}{% endblock %}
		</div>
	</div>
</section>
