<section id="news">
	<h3 class="section-title">{{ 'LANDING.NEWS'|t }}</h3>
	<div class="maxwidth">
		<figure class="news-article"></figure>
		<figure class="news-article"></figure>
		<figure class="news-article news-article-last"></figure>
		<div class="clear"></div>
		<a id="news-button" class="button news-button" href="#">Все новости</a>
	</div>
</section>