{% extends 'modular/modular-block.html.twig' %}

{% block content %}
<div class="textblock modular-section-header clear">
<h3 class="section-title">{{ page.title }}</h3>
{{ page.content }}
</div>

{% for i in range(0, 5) %}
<figure class="partner">
	<a class="partner-link" href="#">
		<img src="{{ url('theme://images/square-image.jpg') }}" alt="Дмитрий Яковлев" width="200">
	</a>
</figure>
{% endfor %}

<div class="clear"></div>
{% endblock %}