{% extends 'modular/modular-block.html.twig' %}

{% block content %}
<div class="textblock modular-section-header clear">
<h3 class="section-title">{{ page.title }}</h3>
{{ page.content }}
</div>

{% for i in range(0, 5) %}
<figure class="activity">
	<a class="activity-link" href="#">
		<div class="activities-image">
			<div class="activities-gear"></div>
			<img src="{{ url('theme://images/square-image.jpg') }}" alt="Дмитрий Яковлев">
		</div>
		<h6>Дмитрий Яковлев</h6>
	</a>
	<div class="activity-hr"></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</figure>
{% endfor %}

<div class="clear"></div>
{% endblock %}