<section class="modular-section section_{{ page.template|split('/')|last }}" id="section{{ page.slug }}"{% if page.header.height %} style="height: {{ page.header.height }}px;"{% endif %}>
{{ page.header.script }}
</section>
