
		<footer id="footer">
			<div class="maxwidth">
				<div id="vk_groups"></div>
			</div>
		</footer>
		
		<script type="text/javascript" src="https://vk.com/js/api/openapi.js?125"></script>
		<script type="text/javascript">
		VK.Widgets.Group("vk_groups", {redesign: 1, mode: 3, width: "300", height: "400", color1: '303135', color2: 'FFFFFF', color3: 'FFFFFF'}, 65229391);
		</script>
