
			<div class="langswitcher" style="color:#FFF;">
			
			{% for key in langswitcher.languages %}
				{% if key != langswitcher.current %}
				
				<a href="{{ '/' ~ key ~ uri.params }}" class="langswitcher-link"><img src="{{ url('theme://images/languages/' ~ key ~ '.png') }}" alt="{{  native_name(key)|capitalize }}" title="{{  native_name(key)|capitalize }}"></a>
				
				{% endif %}
			{% endfor %}
			
			</div>
