{% for i in range(0, 2) %}
    {% set page = pages.children.visible.nth(i) %}
	<a class="header-menu-button floatleft" href="{{ page.url }}">{{ page.menu }}</a>
{% endfor %}

{% for i in range(5, 3) %}
    {% set page = pages.children.visible.nth(i) %}
	<a class="header-menu-button floatright" href="{{ page.url }}">{{ page.menu }}</a>
{% endfor %}